In [1]:
import os
import numpy as np
import pandas as pd

from datetime import datetime
from utils import data_processing

In [2]:
files_path = "PATH/OF/DATA"
export_path = "data/2021"

df = data_processing (files_path, export_path, tdc_resolution = 1e-9)
df

   Group  TDC resolution       theta_0   theta_1
0     H1    1.000000e-09  5.509700e-08  1.186573
1     F2    1.000000e-09 -2.856920e-08  1.199157
2     C1    1.000000e-09  5.984656e-08  1.145288
3     D1    1.000000e-09 -1.272536e-08  1.089021
4     G1    1.000000e-09  5.411737e-09  1.174235
5     A2    1.000000e-09  1.841254e-08  1.052312
6     I2    1.000000e-09 -1.795460e-08  1.041797
7     E1    1.000000e-09  5.798585e-08  1.133843
8     G2    1.000000e-09  6.258280e-09  0.820101
9     D2    1.000000e-09 -7.925701e-08  0.883519
10    H2    1.000000e-09 -6.505696e-08  1.146715
11    E2    1.000000e-09 -4.972511e-08  1.083863
12    B1    1.000000e-09  1.083204e-08  1.183133
13    F1    1.000000e-09  7.774456e-08  1.132556
14    I1    1.000000e-09  2.937135e-10  0.839620
15    B2    1.000000e-09 -7.485190e-08  1.122727
16    C2    1.000000e-09 -9.569672e-08  1.180047

In [3]:
timestamp = str (datetime.now()) . split (".") [0]
timestamp = timestamp . replace (" ","_")
version = ""
for time, unit in zip ( timestamp.split(":"), ["h","m","s"] ):
  version += time + unit   # YYYY-MM-DD_HHhMMmSSs

file_name = f"manipulation_{version}"

df.to_csv ( f"data/manipulation/{file_name}.txt", header = df.columns, index = None, sep = " " )

In [4]:
data = pd.read_csv ( f"{export_path}/data_A2.txt", header = 4, delim_whitespace = True).drop([0] )
data

               TDC          QDC1          QDC2
1     2.039070e-06 -2.894791e-09 -2.840624e-09
2     5.744493e-06 -2.869791e-09 -2.879166e-09
3     7.089725e-06 -2.871874e-09 -2.877083e-09
4     3.384776e-06 -2.920833e-09 -2.972916e-09
5     4.732199e-06 -2.887499e-09 -2.838541e-09
...            ...           ...           ...
5649  1.142720e-06 -4.796875e-09 -6.608335e-09
5650  6.080609e-06 -2.802083e-09 -2.714583e-09
5651  8.439002e-06 -2.791666e-09 -2.792708e-09
5652  9.590834e-07 -8.311460e-09 -6.264584e-09
5653  1.079530e-05 -2.793749e-09 -2.802083e-09

[5653 rows x 3 columns]