In [7]:
YEAR = 2022

In [1]:
import os
import numpy as np
import pandas as pd

from datetime import datetime
from utils import data_processing

In [2]:
from urllib.request import urlopen

file = urlopen(f"https://raw.githubusercontent.com/mbarbetti/unifi-physics-lab3/main/data/2021/data_A1.txt")

#list_data = list()
#for line in file:
# list_data . append (line.decode("utf-8"))

#print (len(list_data))

In [8]:
files_path = f"data/private/{YEAR}_original"
export_path = f"data/{YEAR}"

df = data_processing (files_path, export_path, tdc_resolution = 1e-9)
df

   Group  TDC resolution       theta_0   theta_1
0     M1    1.000000e-09  1.671544e-08  0.986738
1     B2    1.000000e-09  5.923319e-08  0.806152
2     H2    1.000000e-09 -1.937380e-08  1.075806
3     G1    1.000000e-09  4.740700e-08  1.166787
4     A2    1.000000e-09  7.432325e-08  1.051548
5     D1    1.000000e-09  9.576999e-08  1.170603
6     E2    1.000000e-09 -7.108686e-08  1.105351
7     F2    1.000000e-09 -8.985284e-08  1.107622
8     C1    1.000000e-09 -1.716545e-08  0.823004
9     L2    1.000000e-09 -4.504549e-08  1.061967
10    G2    1.000000e-09 -4.553415e-08  0.959833
11    H1    1.000000e-09 -2.917539e-08  0.844489
12    B1    1.000000e-09  1.503123e-08  1.098547
13    M2    1.000000e-09  9.192334e-08  1.023620
14    D2    1.000000e-09  1.779820e-08  1.041835
15    A1    1.000000e-09 -4.285620e-08  0.943227
16    E1    1.000000e-09 -8.730562e-09  1.008576
17    L1    1.000000e-09 -1.883061e-08  0.904626
18    C2    1.000000e-09  9.821067e-08  0.998107
19    F1    1.000000e-09  6.898043e-08  1.039487

In [9]:
timestamp = str (datetime.now()) . split (".") [0]
timestamp = timestamp . replace (" ","_")
version = ""
for time, unit in zip ( timestamp.split(":"), ["h","m","s"] ):
  version += time + unit   # YYYY-MM-DD_HHhMMmSSs

file_name = f"manipulation_{version}"

df.to_csv ( f"data/private/manipulation/{file_name}.txt", header = df.columns, index = None, sep = " " )

In [10]:
data = pd.read_csv ( f"{export_path}/data_M1.txt", header = 4, delim_whitespace = True).drop([0] )
data

                TDC          QDC1          QDC2
1      3.333315e-06 -2.933333e-09 -2.855208e-09
2      8.067163e-07 -2.966666e-09 -2.712500e-09
3      9.333067e-06 -2.910416e-09 -2.920833e-09
4      3.492111e-06 -2.931250e-09 -2.914583e-09
5      4.754411e-06 -3.076041e-09 -2.925000e-09
...             ...           ...           ...
34865  9.015338e-06 -3.050000e-09 -2.911458e-09
34866  8.858790e-06 -2.943750e-09 -2.925000e-09
34867  1.279616e-06 -2.962500e-09 -2.927083e-09
34868  3.175933e-06 -2.993750e-09 -2.975000e-09
34869  7.438573e-06 -2.927083e-09 -2.914583e-09

[34869 rows x 3 columns]